.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
    margin: 10px; 
    
}

.homePageInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playButton { 
    padding: 10px; 
    font-family: 'Montserrat', sans-serif;
}